img{
    width:250px;
    height: 200px;
    padding: 2px;
    margin:2px
}
.container{
    border:1px black solid;
    width: auto;
}
row{
    margin-right: 15px;
    margin-bottom: 10px;
}
.navbar-nav{
   margin-left: 400px;
}

.cart-btn{
    margin-left: 200px;
    color: turquoise;
 
}

#carouselExampleFade{
    height: 200px;
    z-index: -1;
}
.carousel-item{
    height: 300px;
}
footer{
    background-color:whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color:whitesmoke;
    height: 250px;
}
li{

    list-style-type: none;

}
#footer-col{
    background-color: thistle;
    border-radius: 10px;
    text-align: center;
}
.dropdown-menu{
    z-index: 1;
}